<footer class="footer-main">
    <div class="container-fluid">
        <div class="footer-content">
            <div class="cred">
                            2015 - 2022 ©
                            <a href="http://www.fiware.org/">FIWARE</a>.

                            The use of FIWARE Lab services is subject to the acceptance of the
                    <a href="https://fiware-legal.readthedocs.io/en/latest/FIWARELabTermsAndConditions.html" target="a_blank">Terms and Conditions</a>,

                    <a href="https://fiware-legal.readthedocs.io/en/latest/PersonalDataProtectionPolicy.html" target="a_blank">Privacy Policy</a>
                    and
                    <a href="https://fiware-legal.readthedocs.io/en/latest/FIWARECookiesPolicy.html" target="a_blank">Cookies Policy</a>.
                    </div>
            </div>
  </div>
</footer>
